body{
	background: #F4F4F4;
	margin: 0;

}
.container{
	width: 1150px;
	margin: 0 auto;
	background: #FFF;

}
.header{
	width: 1150px;
	height: 100px;
	margin: 0 auto;
	padding: 0px;
}
.menu{
	background: #326762;
	padding: 5px 20px;

}
.menu a{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
	font-family: "Arial"
}
.menu a:hover {
	color: #f4f4f4
}

.content{
	float: left;
	width: 150px;
	margin: 20px 10px 10px 10px;
	font-family: "Arial";
	background: #FFFFFF;
	padding: 25px 10px 20px 10px;
}
.another{
	float: right;
	width: 150px;
	margin: 20px 10px 10px 10px;
	font-family: "Arial";
	background: #FFFFFF;
	padding: 25px 10px 10px 10px;
}
.main{
	margin: 20px 150px 0px 180px;
	padding: 25px 40px 30px 10px;
	color: #444444;
	font-size: 20px;
	line-height: 15px;
	font-family: "Arial"
	text-emphasis: justify;
}
footer{
	margin: 150px 0px 0px 0px;
	padding: 10px 40px 10px 40px;
	text-align-last: center;
	background: #d6d6d6;
}